li{
    list-style: none;
    display:inline-block;
    padding: 10px;

}



li:hover img{
    border: 2px solid white;
    transition: 0.3s;
    border-radius: 20px;
}

img{
    border-radius: 8px;
    display: flex;
    border: 2px solid transparent;
    transition: 0.5s;
    width: 160px;
}

body{
    background: black;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bolder;
    font-size: 32px;

}

.titulo img{
    width: 229px;
    height: 68px;
    align-items: center;
    margin-top: 42px;

}

.descricao{
    margin-top: 73px;
    margin-bottom: 73px;
    color: white;
}

button{
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    position: ;
    font-family: 'IBM Plex Sans', sans-serif;
    border: none;
    border: 2px solid ;
    border-radius: 5px;
    width: 206px;
    height: 50px;
    font-weight: bold;
    
}


button:hover{
    background: #fff;
    transition: 0.3s;
    color: black;
}

.texto{
    color: #9C9C9C;
    font-size: 16px;
}

li:hover .texto{
    transition: 0.5s;
    color: white;
}

div{
    max-width: 810px;
}


